				@font-face {
					font-family: 'beyno';
					src: url('6766beyno.woff2') format('woff2'),
						url('6766beyno.woff') format('woff');
					  font-display: auto;
				}

				.beyno{font-family: 'beyno' !important;}

						h3{
					font-family: 'beyno' !important;
				}
						.site-title{
					font-family: 'beyno' !important;
				}
		